body {
    font-family: "Inria Sans", sans-serif;
    background-color: #F7780A;
    color: #ffffff;
    margin: 0;
    padding: 0;
}


.container-cabecalho {
    background-color: #F7780A;
    border-bottom: 8px solid #ffffff;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
}

.logo-header {
    height: 60px;
}


.container-admin-banner {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}




.topo-esquerda {
    position: absolute;
    left: calc(50% - 140px);
    display: flex;
    align-items: center;
}

.topo-esquerda span {
    background-color: #FFAE00;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: #ffffff;
}


.topo-direita {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 40px;
    color: #ffffff;
}

.botao-sair {
    background-color: #fff;
    color: #F7780A;
    border: none;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.botao-publicar-memes {

    background-color: #FFAE00;
    color: #ffffff;
    border: 1px solid, #ffffff;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;

}

.imagem-avatar-topo{
    
    width: 40px;
    border: #ffffff solid 2px;
    border-radius: 50%;
    object-fit: cover;
}

.imagem-avatar-topo img{

    
    height: 40px;

}

.container-categorias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px;
    
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    height: auto;
}

.cards-categorias {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: #00000073 2px 2px 10px 0.4px;
    flex-wrap: wrap;
    flex-direction: row;
    width: 246px;
    height: 322px;
    background-color: #ffffff;
    border: #FFAE00 solid 4px;
    gap: 20px;
    
}



.cards-categorias {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cards-categorias:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}


.cards-categorias img{
    width: 230px;
    height: 254px;
    border: 0;
    border-radius: 20px;
    margin-top: -5px;

}

.cards-categorias p{
    margin-top: -40px;
    font-size: 18px;
    color: #000000;
}

.titulo-inicio {
    font-size: 36px;
    color: white;
    text-decoration: underline;
    text-underline-offset: 8px; 
    margin-right: 55%;
}

.link-categoria {
    text-decoration: none;
    color: black;
}