body {
    font-family: "Inria Sans", sans-serif;
    background-color: #F7780A;
    color: #ffffff;
    margin: 0;
    padding: 0;
}


.container-cabecalho {
    background-color: #F7780A;
    border-bottom: 8px solid #ffffff;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
}


.container-admin-banner {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}


.container-cabecalho img {
    height: 60px;
}


.topo-esquerda {
    position: absolute;
    left: calc(50% - 140px);
    display: flex;
    align-items: center;
}

.topo-esquerda span {
    background-color: #FFAE00;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: #ffffff;
}


.topo-direita {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 40px;
    color: #ffffff;
}

.botao-sair {
    background-color: #fff;
    color: #F7780A;
    border: none;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.botao-publicar-memes {

    background-color: #FFAE00;
    color: #ffffff;
    border: 1px solid, #ffffff;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;

}